<p>{{ localize 'sosly.breather.hint' }}</p>

{{#if availableHD}}
<div class="form-group">
    <label>{{ localize 'sosly.breather.select' }}</label>
    <div class="form-fields">
        <select name="hd">
            {{ selectOptions hdOptions selected=denomination }}
        </select>
        <button type="button" id="roll-hd" {{#unless canRoll}}disabled{{/unless}}>
            <i class="fas fa-dice-d20"></i> {{ localize 'DND5E.Roll' }}
        </button>
    </div>
    {{#unless canRoll}}
        <p class="notes">{{ localize 'sosly.breather.nohd'}}</p>
    {{/unless}}
</div>
{{/if}}
