<section class="flexcol">
    <div class="note info">
        {{ localize 'sosly.breather.dialog.hint' }}
    </div>

    {{#unless isGroup}}
    {{#if availableHD}}
    {{#if canRoll}}
    <fieldset>
        <legend>{{ localize "DND5E.HitDice" }}</legend>
        <div class="form-fields">
            <select name="hd">
                {{ selectOptions hdOptions selected=denomination }}
            </select>
            <button type="button" class="dice-button" data-action="rollHitDie" data-tooltip="DND5E.Roll"
                    aria-label="{{ localize 'DND5E.Roll' }}">
                <i class="fa-solid fa-dice-d20" inert></i>
            </button>
        </div>
        {{#if recoverableFeatures}}
        {{#each recoverableFeatures as |feature|}}
        <div class="form-group">
            <label>{{feature.label}}</label>
            <div class="form-fields">
                <dnd5e-checkbox name="features.{{feature.key}}" data-feature-id="{{feature.id}}" tabindex="0"></dnd5e-checkbox>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </fieldset>
    {{else}}
    <div class="note warn">
        {{ localize 'sosly.breather.nohd' }}
    </div>
    {{/if}}
    {{/if}}
    {{/unless}}
</section>