<form id="breather-hd">
    <p>{{ localize 'sosly.breather.hint' }}</p>

    {{#if availableHD}}
    <div class="form-group">
        <label>{{ localize 'sosly.breather.select' }}</label>
        <div class="form-fields">
            <select name="hd">
                {{ selectOptions hdOptions selected=denomination }}
            </select>
            <button type="button" data-action="rollHitDie" {{#unless canRoll}}disabled{{/unless}}>
                <i class="fas fa-dice-d20"></i> {{ localize 'DND5E.Roll' }}
            </button>
        </div>
        {{#unless canRoll}}
            <p class="notes">{{ localize 'sosly.breather.nohd'}}</p>
        {{/unless}}
    </div>
    {{/if}}

    <footer class="form-footer flexrow">
        <button type="button" data-action="rest">
            <i class="fas fa-face-exhaling"></i> {{ localize 'DND5E.REST.Label' }}
        </button>
        <button type="button" data-action="cancel">
            <i class="fas fa-times"></i> {{ localize 'Cancel' }}
        </button>
    </footer>
</form>