<section class="sheet-body">
  <div class="tab detail active">

    <h1>{{localize "sosly.items-with-spells.form.configure-overrides"}}</h1>

    {{!-- Resource Consumption --}}
    <fieldset>
      <legend>{{localize "DND5E.USAGE.SECTION.Consumption"}}</legend>

      {{!-- Limited Uses --}}
      <div class="form-group split-group">
        <label>{{localize "DND5E.LimitedUses"}}</label>
        <div class="form-fields">
          {{!-- Max --}}
          {{ formField fieldDefault name="overrides.uses.max" value=overrides.uses.max label="DND5E.Max" localize=true hint=false classes="label-top" }}

          {{!-- Recovery Period --}}
          {{ formField fieldDefault name="overrides.uses.recovery" value=overrides.uses.recovery options=options.recoveryPeriods label="DND5E.Recharge" localize=true hint=false classes="label-top" }}
        </div>
        <p class="hint">{{localize "sosly.items-with-spells.form.limited-hint"}}</p>
      </div>

      <hr>

      {{!-- Charges consumed from parent item --}}
      <div class="form-group split-group">
        <label>{{localize "DND5E.Charges"}}</label>
        <div class="form-fields">
          {{!-- Type: Item Uses |Display Only| --}}
          {{ formField fieldDefault name="display.itemUses" value="itemUses" options=options.itemUses label="DND5E.Type" localize=true hint=false classes="label-top" disabled=true }}

          {{!-- Target: Parent Item |Display Only| --}}
          {{ formField fieldDefault name="display.consumptionTarget" value=parentItem.id options=options.parentItem label="DND5E.Target" localize=true hint=false classes="label-top" disabled=true }}

          {{!-- Amount: Charges To Consume on Use --}}
          {{ formField fieldDefault name="overrides.consumption.value" value=overrides.consumption.value label="DND5E.Amount" localize=true hint=parentItem.hasNoUsesHint classes="label-top" disabled=parentItem.hasNoUses }}

          {{!-- Resource Scaling --}}
          {{#if (gt spell.system.level 0)}}
            {{ formField fieldDefault name="overrides.consumption.scaling" value=overrides.consumption.scaling label="DND5E.CONSUMPTION.FIELDS.consumption.scaling.abbr" localize=true hint="DND5E.ConsumeScalingTooltip" classes="label-top flex-checkbox" input=inputs.createCheckboxInput }}
          {{/if}}
        </div>
        <p class="hint">{{localize "sosly.items-with-spells.form.charges-hint"}}</p>
      </div>

    </fieldset>

    {{!-- Saving Throw --}}
    <fieldset>
      <legend>{{localize "DND5E.SavingThrow"}}</legend>

      <div class="form-group split-group">
        <label>{{localize "DND5E.SAVE.FIELDS.save.label"}}</label>
        <div class="form-fields">

          {{!-- Challenge Ability |Display Only| --}}
          {{ formField fieldDefault name="display.dc.ability" value=spellStats.saveAbility options=options.abilityOptions label="DND5E.SAVE.FIELDS.save.ability.label" localize=true hint="DND5E.SAVE.FIELDS.save.ability.hint" classes="label-top" disabled=true }}

          {{!-- DC Calculation --}}
          {{ formField fieldDefault name="overrides.saveActivity.calculation" value=overrides.saveActivity.calculation options=options.calculationOptions label="DND5E.SAVE.FIELDS.save.dc.calculation.label" localize=true hint="DND5E.SAVE.FIELDS.save.dc.calculation.hint" classes="label-top" }}

          {{!-- DC Formula --}}
          {{ formField fieldDefault name="overrides.saveActivity.formula" value=overrides.saveActivity.formula label="DND5E.SAVE.FIELDS.save.dc.formula.label" localize="DND5E.SAVE.FIELDS.save.dc.formula.hint" hint="DND5E.SAVE.FIELDS.save.dc.formula.hint" classes="label-top" disabled=spellStats.hasNoFlatDC }}

        </div>
        <p class="hint">{{localize "sosly.items-with-spells.form.save-hint"}}</p>
      </div>

    </fieldset>

    {{!-- Attack Bonus --}}
    <fieldset>
      <legend>{{localize "DND5E.Attack"}}</legend>

      <div class="form-group split-group">
        <label>{{localize "DND5E.ATTACK.FIELDS.attack.label"}}</label>
          <div class="form-fields">

            {{!-- Attack Ability --}}
            {{ formField fieldDefault name="overrides.attackActivity.ability" value=overrides.attackActivity.ability options=options.abilityOptions label="DND5E.ATTACK.FIELDS.attack.ability.label" localize=true hint="DND5E.ATTACK.FIELDS.attack.ability.hint" classes="label-top" }}

            {{!-- To Hit Bonus --}}
            {{ formField fieldDefault name="overrides.attackActivity.bonus" value=overrides.attackActivity.bonus label="DND5E.ATTACK.FIELDS.attack.bonus.label" localize=true hint="DND5E.ATTACK.FIELDS.attack.bonus.hint" classes="label-top" }}

            {{!-- Flat To Hit --}}
            {{ formField fieldDefault name="overrides.attackActivity.flat" value=overrides.attackActivity.flat label="DND5E.ATTACK.FIELDS.attack.flat.label" localize=true hint="DND5E.ATTACK.FIELDS.attack.flat.hint" classes="label-top flex-checkbox" input=inputs.createCheckboxInput }}

          </div>
        <p class="hint">{{localize "sosly.items-with-spells.form.attack-hint"}}</p>
      </div>

    </fieldset>

    {{!-- spacing for the save button --}}
    &nbsp;

  </div>
</section>
