<div class="items-section card">
	<div class="items-header header flexrow">
		<h3 class="item-name">{{localize 'TYPES.Item.spellPl'}}</h3>
		<div class="item-header">{{localize 'DND5E.SpellHeader.Roll'}}</div>
		<div class="item-header">{{localize 'DND5E.Uses'}}</div>
		<div class="item-header">{{localize 'sosly.items-with-spells.consumes'}}</div>
		<div class="item-controls"></div>
	</div>
	<ol class="item-list unlist">
		<li class="hint items-with-spell-filler">
			{{localize 'sosly.items-with-spells.empty'}}
		</li>
	</ol>
</div>
