<div class="spellcasting card" data-ability="{{abilityId}}">
    <div class="header">
        <h3>Psionicist Manifesting</h3>
        <button type="button" class="radio-button" data-action="spellcasting" data-tooltip="DND5E.SpellAbilitySet" aria-pressed="{{#if isPrimary}}true{{else}}false{{/if}}" aria-label="Set as Primary Spellcasting Ability"></button>
    </div>
    <div class="info">
        <div class="limit">
            <span class="label">Limit</span>
            <span class="value">{{powerLimit}}</span>
        </div>
        <div class="ability">
            <span class="label">Ability</span>
            <span class="value">{{abilityMod}}</span>
        </div>
        <div class="attack">
            <span class="label">Attack</span>
            <span class="value">{{attackBonus}}</span>
        </div>
        <div class="save">
            <span class="label">Save DC</span>
            <span class="value">{{saveDC}}</span>
        </div>
    </div>
</div>
